@model IEnumerable<IC_Sur.Models.StorageEntry>


<h1>Entrada a Stock</h1>

<p>
    <a asp-action="Create">Crear Nueva Entrada a Stock</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EntryDateTime)
            </th>
            <th>
                Producto
            </th>
            <th>
                Proveedor
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EntryDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provider.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductAmount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StorageEntryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StorageEntryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StorageEntryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
