@model IEnumerable<IC_Sur.Models.Role>

@{
    ViewData["Title"] = "Index";
}

<h1>Indice</h1>

<p>
    <a asp-action="Create">Registrar Rol</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RoleId">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.RoleId">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.RoleId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
